[submodule "src/externals/when"]
	path = src/externals/when
	url = https://github.com/briancavalier/when.js.git
[submodule "src/externals/gl-matrix"]
	path = src/externals/gl-matrix
	url = https://github.com/toji/gl-matrix.git
[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git

[submodule "src/externals/jquery"]
	path = src/externals/jquery
	url = https://github.com/jquery/jquery.git
[submodule "src/externals/playtomic"]
	path = src/externals/playtomic
	url = https://github.com/playtomic/gameapi-html5.git
[submodule "src/externals/paper"]
	path = src/externals/paper
	url = https://github.com/paperjs/paper.js
