body {
  margin: 0;
}

#credits {
  -webkit-transition: color 2s ease-out;
  color: rgba(255, 255, 255, 0.1);
  
  position: fixed;
  
  left: 20px;
  bottom: 20px;
}

#credits:hover {
  -webkit-transition: color 250ms ease-out;
  color: white;
}

#credits.load {
  color: white;
}

#credits p {
  margin: 0;
}

#score {
  color: white;
  font-size: 2em;
  
  position: fixed;
  top: 10px;
  width: 100%;
  
  text-align: center;
}