body {
  margin: 0;
}

#credits {
  -webkit-transition: color 2s ease-out;
  color: rgba(255, 255, 255, 0.1);
  
  position: fixed;
  
  left: 20px;
  bottom: 20px;
}

#credits:hover {
  -webkit-transition: color 250ms ease-out;
  color: white;
}

#credits.load {
  color: white;
}

#credits p {
  margin: 0;
}

#score {
  font-size: 2em;
}

#stunts {
  color: white;
  
  position: fixed;
  top: 10px;
/*  width: 100%;*/
  
/*  text-align: center;*/
}

.trick {
  -webkit-transition: top 500ms ease-out, opacity 250ms ease-in-out;
  opacity: 1;
  
  position: absolute;
  right: 0;
}

.trick .value {
  
}

.trick .name {
  position: absolute;
  margin-top: -18px;
}

.zone {
  right: -6px;
}
